@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ruda", sans-serif;
  color: #fff;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.pizza_restaurant--header {
  width: 100%;
  height: 56px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pizza_restaurant--header-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto 60px;
  width: 100%;
}

.pizza_restaurant--header-logoBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
}

.pizza_restaurant--header-menuBlock ul {
  display: flex;
  flex-direction: row;
  gap: 21px;
  justify-content: space-between;
  list-style-type: none;
}

.pizza_restaurant--header-menuBlock ul a {
  text-decoration: none;
}

.pizza_restaurant--header-socialBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

img.socialIcon {
  width: 34px;
  height: 34px;
  aspect-ratio: 1/1;
  object-fit: none;
}

main.pizza_restaurant--main {
  width: auto;
  height: auto;
}
.pizza_restaurant--main-heroBlock {
  background-image: url("images/pizzaHeroImage.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

